:root {
  --background: #0a0a0c;
  --background-secondary: #262626;
  --background-card: #1f1f1f;
  --border: #454546;
  --text: #ffffff;
  --primary: #7639ff;
  --secondary: #af8bff;
  --placeholder: #959595;
  --h1: #ffffff;
  --button-color: #ffffff;
  --null: 0px;
  --xxs: 4px;
  --xs: 8px;
  --sm: 16px;
  --md: 24px;
  --lg: 32px;
  --xl: 44px;
  --xl-2: 48px;
  --xl-3: 56px;
  --xl-4: 64px;
  --xl-5: 72px;
  --xl-6: 80px;
  --xl-7: 88px;
  --xl-8: 96px;
  --xl-9: 112px;
  --text-caption: 12px;
  --shadow: #1f1f1f;
  --chip-font-size: 14px;
}

[data-theme="light"] {
  --background: #ffffff;
  --background-secondary: #eaeaea;
  --background-card: #ffffff;
  --light-background: #cebded;
  --border: #dbdbdb;
  --text: #414141;
  --primary: #7639ff;
  --secondary: #af8bff;
  --h1: #414141;
  --shadow: #dcdcdc;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.33em;
}

h4 {
  font-size: 1.17em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}

body {
  background: var(--background);
  color: var(--text);
  margin: var(--null);
}
