:root {
  --background: #051424;
  --background-secondary: #101e2e;
  --background-card: #010f1f;
  --background-card-rgb: 1, 15, 31;
  --border: #454546;
  --border-color: #404168;
  --text: #f8f8ff;
  --title: #f4f4f4;
  --primary: #c0c1ff;
  --secondary: #9fa0ff;
  --secondary-hover: #c2c4ff;
  --tertiary: #1C2B3C;
  --placeholder: #959595;
  --shortDescription: #b9b9b9;
  --button-color: #1b1461;
  --navbar-background: #020F1F;
  --disclaimer-border: #376cc2;
  --disclaimer-text: #9fc0f4;
  --null: 0px;
  --xxs: 4px;
  --xs: 8px;
  --sm: 16px;
  --md: 24px;
  --lg: 32px;
  --xl: 44px;
  --xl-2: 48px;
  --xl-3: 56px;
  --xl-4: 64px;
  --xl-5: 72px;
  --xl-6: 80px;
  --xl-7: 88px;
  --xl-8: 96px;
  --xl-9: 112px;
  --text-caption: 12px;
  --shadow: #1f1f1f;
  --chip-font-size: 12px;
}

[data-theme="light"] {
  --background: #ffffff;
  --background-secondary: #eaeaea;
  --primary: #3525cd;
  --secondary: #9981cc;
  --secondary-hover: #3f4165;
   --navbar-background: #ffffff;
  --tertiary: #464555;
  --button-color: #ffffff;
  --background-card: #f4f4f4;
  --shortDescription: #5d5d5d;
  --border: #dbdbdb;
   --border-color: #dbdbee;
  --text: #464555;
  --title: #191c1e;
  --shadow: #dcdcdc;
}

h1 {
  font-size: 2.5em;
  color: var(--title);
}

h2 {
  font-size: 1.5em;
  color: var(--title);
}

h3 {
  font-size: 1.33em;
  color: var(--title);
}

h4 {
  font-size: 1.05em;
  color: var(--title);
}
h5 {
  font-size: 0.9em;
  color: var(--title);
}
h6 {
  font-size: 0.67em;
  color: var(--title);
}

body {
  background: var(--background);
  color: var(--text);
  margin: var(--null);
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
