/* ==========================================
   1. CONFIGURAÇÕES DO BROWSER E FONTES (Unido)
   ========================================== */
:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* AS TUAS VARIÁVEIS DO TEMA ESCURO (Exatamente iguais) */
  --background: #051424;
  --background-secondary: #101e2e;
  --background-transparent: color-mix(in srgb, var(  --background-secondary) 50%, transparent);
  --background-card: #010f1f;
  --border: #454546;
  --border-color: #404168;
  --text: #f8f8ff;
  --title: #f4f4f4;
  --primary: #c0c1ff;
  --secondary: #9fa0ff;
  --secondary-hover: #c2c4ff;
  --placeholder: #959595;
  --shortDescription: #b9b9b9;
  --button-color: #1b1461;
  --navbar-background: #020f1f;
  --disclaimer-border: #376cc2;
  --disclaimer-text: #9fc0f4;
  --chip-card-tertiary: #2e3e51;
  --chip-text-tertiary: #C0C1FF;
  --chip-font-size-card: 14px;
  --null: 0px;
  --xxs: 4px;
  --xs: 8px;
  --sm: 16px;
  --md: 24px;
  --lg: 32px;
  --xl: 44px;
  --xl-2: 48px;
  --xl-3: 56px;
  --xl-4: 64px;
  --xl-5: 72px;
  --xl-6: 80px;
  --xl-7: 88px;
  --xl-8: 96px;
  --xl-9: 112px;
  --text-caption: 14px;
  --shadow: #1f1f1f;
}

/* ==========================================
   2. TEMA CLARO (Exatamente igual)
   ========================================== */
[data-theme="light"] {
  --background: #ffffff;
  --background-secondary: #ebebeb;
  --background-transparent: color-mix(in srgb, var(  --background-secondary) 50%, transparent);
  --primary: #7567ee;
  --secondary: #a69eef;
  --secondary-hover: #362b98;
  --disclaimer-text: #4471ba;
  --tertiary: #6987a8;
  --navbar-background: #ffffff;
  --button-color: #ffffff;
  --background-card: #f4f4f4;
  --shortDescription: #5d5d5d;
  --border: #dbdbdb;
  --border-color: #dbdbee;
  --text: #464555;
  --title: #191c1e;
  --shadow: #dcdcdc;
  --chip-card-tertiary: #adaee6;
  --chip-text-tertiary: #5456ca;
}

/* ==========================================
   3. RESETS E LAYOUT (Exatamente iguais)
   ========================================== */
a {
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background: var(--background);
  color: var(--text);
  margin: var(--null);
  transition: background-color 0.3s ease;
}

/* ==========================================
   4. TIPOGRAFIA (Exatamente igual)
   ========================================== */
h1 {
  font-size: 2.5em;
  color: var(--title);
}

h2 {
  font-size: 1.5em;
  color: var(--title);
}

h3 {
  font-size: 1.33em;
  color: var(--title);
}

h4 {
  font-size: 1.05em;
  color: var(--title);
  text-transform: uppercase;
  font-weight: 300;
}

h5 {
  font-size: 0.9em;
  color: var(--title);
  font-weight: 600;
}

h6 {
  font-size: 0.67em;
  color: var(--title);
}