.button {
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  font-size: var(--sm);
  font-weight: 600;
  height: var(--xl);
  min-width: fit-content;
  white-space: nowrap;
}

.primary {
  background-color: var(--primary);
  color: var(--button-color);
  padding: 0 var(--md);
}

.primary:hover {
  background-color: var(--secondary);
  color: var(--button-color);
}

.secondary {
  border: none;
  background-color: transparent;
  color: var(--secondary);
  padding: 0 var(--md);
}

.secondary:hover {
  border: none;
  color: var(--secondary-hover);
  background-color: var(--background-secondary);
}

.active {
  color: var(--secondary);
  text-decoration: underline;
  text-underline-offset: var(--sm);
}

.secondary + .secondary:not(.active) {
  border-left: 1px solid var(--secondary);
}

.active + .secondary {
  border-left: none;
}

.first {
  border-radius: 10px 0 0 10px;
}

.middle {
  border-radius: 0;
}

.last {
  border-radius: 0 10px 10px 0;
}

@media (max-width: 768px) {
  .primary {
    width: 100%;
  }
  .secondary {
    width: 100%;
  }
}
