.card {
  background-color: var(--background-card);
  border-radius: var(--sm);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.default {
  background: var(--background-card);
}

.secondary {
  background: var(--background-secondary);
}

.title {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageYear {
  position: relative;
  /* diz que este elemento é o "ponto de referência" para os filhos com position: absolute */
}

.chipYear {
  position: absolute;
  top: var(--sm);
  /* cola ao topo */
  left: var(--sm);
  /* cola ao left */
  /*  retira o elemento do fluxo normal e posiciona-o em relação ao pai com position: relative, sem o position: relative no pai, o absolute posicionava-se em relação à página toda e não à imagem */
  z-index: 1;
  /* coloca o chip em cima do gradient */
}

h4 {
  margin: 0;

}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--xs);
}

.containerBtn {
  display: flex;
  gap: var(--sm);
  padding: var(--sm) var(--null) var(--null) var(--null);
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--xs);
  border-bottom-left-radius: var(--null);
  border-bottom-right-radius: var(--null);
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.allContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerResumeBtn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.infoContainer {
  padding: var(--sm);
  height: 100%;
}

.containerResumeBtn {
  height: 100%;
}

.btnCards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume {
  color: var(--shortDescription);
  padding-bottom: var(--sm);
}

@media (max-width: 768px) {
  .title {
    gap: var(--sm);
    align-items: stretch;
  }

  .title h4 {
    display: flex;
    align-items: center;
  }

  .btnCards {
    width: 10%;
    display: flex;
    justify-content: center;
  }

  .containerBtn a {
    flex: 1 1 calc(50% - var(--sm) / 2);
  }

  .containerBtn {
    flex-direction: row;
    display: flex;
  }
}
