.container {
  margin: var(--md);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  width: 90%;
}

.projectImg {
  flex: none; 
  width: 100%; 
  height: 150px;
  object-fit: cover;
  border-radius: var(--md);
}

.containerImgDescription {
  display: flex;
  flex-direction: column;
  gap: var(--md);
  width: 90%;
}

.description p {
  margin: 0;
  width: 100%;
  white-space: pre-line;
}

.description {

  flex:2;
}

@media (max-width: 968px) {
  .containerImgDescription{
    display: flex;
    flex-direction: column;
  }

  .projectImg {
    width: 100%;
  }
}
