.socialMedia {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: var(--sm);
  padding: var(--lg);
  border-top: 2px solid var(--background-secondary);
}

.socialMediaLogos {
  display: flex;
  gap:var(--sm)
}
.socialMediaIcon {
  background-color: var(--secondary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaIcon:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  background-color: var(--secondary);
}


.socialMediaIcon img {
  width: 24px;
  height: 24px;
  display: block;
  object-fit: contain;
}

.privateInfo {
  font-size: 14px;
  margin: var(--null);
  align-items: center;
  display: flex;
  gap: var(--xs);
  width: fit-content;
}

.emailLink {
  color: inherit;
  text-decoration: underline;
  font-weight: 300;
}

.emailLink:hover {
  text-decoration: underline;
  color: var(--secondary);
}

@media (max-width: 968px) {
  .socialMedia {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
    gap: var(--sm);
    padding: var(--lg) var(--null);
    border-top: 2px solid var(--background-secondary);
  }
  .socialMediaLogos {
    flex-direction: row;
    display: flex;
    gap: var(--sm);
  }

  .privateInfo {
  font-size: var(--sm);
  margin: var(--null);
  align-items: center;
  gap: var(--xs);
}
}
