/*desktop*/

.menu-icon {
  display: none;
}

.nav {
  margin: var(--md);
  display: flex;
  justify-content: center;
}

.nav-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: var(--md);
}

.theme {
  display: flex;
  align-items: center;
  gap: var(--xs);
  font-weight: 700;
  
}

.btnTheme {
  width: fit-content;

}

.logo {
  display: flex;
  align-items: center;
}
/*mobile*/
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    display: none;
  }
  /* before click is-open */
  .nav-content {
    display: none;
  }

  /* after click is-open */
  .nav-content.is-open {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: var(--sm);
    width: 85%;
    background-color: rgba(45, 45, 45, 0.9);
    border-radius: var(--sm);
  }

  .links {
    flex-direction: column;
    width: fit-content;
    align-items: center;
    gap: var(--xs);
    padding-bottom: var(--sm);
  }
}
