/*desktop*/

.menu-icon {
  display: none;
}

.menuOpened {
  display: none;
}
.nav {
  margin: var(--md) var(--null);
  display: flex;
  justify-content: center;
}

.nav-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnClose-Links {
  display: flex;
  gap: var(--md);
}

.links {
  display: flex;
  gap: var(--md);
}

.theme {
  display: flex;
  align-items: center;
  gap: var(--xs);
  font-weight: 700;
}

.btnTheme {
  width: fit-content;
}

.logo {
  display: flex;
  align-items: center;
}

.closeBtn {
  display: none;
}

.nav-footer {
  display: none;
}

.iconLinks {
  display: none;
}

/*mobile*/
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }

  .logo {
    display: none;
  }

  /* before is-open */
  .nav-content {
    display: none;
  }

  /* after is-open */
  .nav-content.is-open {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    background-color: var(--navbar-background);
    height: 100dvh;
  }

  /* forces closeBtn to show */
  .nav-content.is-open .closeBtn {
    display: flex;
    justify-content: flex-end;
    padding: var(--lg) var(--null) var(--lg) var(--lg);
  }

  .links-divider {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: var(--md);
    width: 100%;
  }
  .btnClose-Links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100%;
  }

  .links {
    flex-direction: column;
    align-items: left;
    padding: var(--sm) var(--null);
    width: 100%;
    position: relative;
    justify-content: space-between;
  }

  .links button {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .theme {
    display: none;
  }
  .btnTheme {
    width: 100%;
    justify-content: center;
  }

  /* forces navFooter to show on mobile*/
  .nav-content.is-open .nav-footer {
    display: flex;
    flex-direction: column;
  }

  /* forces icons to show on mobile */
  .nav-content.is-open .iconLinks {
    display: flex;
    flex-direction: column;
  }

  .nav-footer h6 {
    color: var(--shortDescription);
    font-weight: 200;
  }

  .socialMediaLogos {
    display: flex;
    gap: var(--sm);
    width: 100%;
    padding-top: var(--md);
    border-top: 1px solid var(--border-color);
    margin-top: var(--xl);
  }

  .socialMediaIcon {
    background-color: var(--secondary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .socialMediaIcon img {
    width: 24px;
    height: 24px;
    display: block;
    object-fit: contain;
  }

  .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
