/*desktop*/

.menu-icon {
  display: none;
}

.menuOpened {
  display: none;
}
.nav {
  margin: var(--md);
  display: flex;
  justify-content: center;
}

.nav-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: var(--md);
}

.theme {
  display: flex;
  align-items: center;
  gap: var(--xs);
  font-weight: 700;
}

.links-divider {
  display: flex;
  gap: var(--xl-3);
}

.btnTheme {
  width: fit-content;
}

.logo {
  display: flex;
  align-items: center;
}
/*mobile*/
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }

  
  .menu-icon.is-open {
    margin: 0px;
  }

   .nav {
    position: relative;
    margin: var(--sm);
  }


  .menuOpened {
    display: flex;
    position: absolute;
    top: var(--sm);
    right: var(--sm);
    border-radius: 16px;
  }

  .menuOpened.is-open {
    display: none;
  }
  .logo {
    display: none;
  }
  /* before click is-open */
  .nav-content {
    display: none;
  }

  /* after click is-open */
  .nav-content.is-open {
     display: flex;
  flex-direction: column;
  position: fixed;
  padding-bottom: var(--null);
  width: 70%;
  margin-top: var(--sm);
  background-color: var(--background-card);
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: var(--sm);
  height: 90dvh;
  }

  .links {
    flex-direction: column;
    align-items: center;
    padding: var(--sm) var(--null);
    width: 100%;
    position: relative;
    justify-content: space-around;
    height: 50%;
  }

  .theme {
    display: none;
  }
.btnTheme {
  width: 100%;
  justify-content: center;
}

  .overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
}
