

.header {
  padding: var(--xl-3) var(--lg) var(--md);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-Pic {
  display: flex;
}
.chip-title {
  line-height: normal;
  padding-right: 196px;
  padding-top: var(--md);
  margin-bottom: 0;
}

.chip {
  width: 0%;
}

.name {
  color: var(--primary);
}

.profilePic {
  width: 200px;
}

@media (max-width: 768px) {
  .header {
    padding: var(--null);
    display: flex;
    flex-direction: column;
    padding-bottom: var(--md);
  }
  .title-Pic {
    line-height: normal;
    padding-right: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .chip-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: var(--sm);
    text-align: center;
    padding-top: var(--null);
  }
  .chip {
    width: 15%;
  }

  .hideOnMobile {
    display: none;
  }
}

/* container */

.contentContainer {
  background-color: var(--background-secondary);
  padding: var(--md);
  border-radius: var(--md) var(--md) var(--null) var(--null);
}

.subTitle h5 {
  letter-spacing: var(--xs);
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin: var(--lg);
}

.contentDetailsContainer h2 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.detailsContainer {
  display: flex;
  gap: var(--lg);
  justify-content: center;
  width: 100%;
}

.details {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100px;
}

@media (max-width: 768px) {
  .detailsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--lg);
    margin-bottom: var(--xl-3);
    align-items: center;
  }
  .details h4 {
    margin: 0;
  }
}

.details .icon {
  color: var(--secondary);
  width: var(--lg);
  height: var(--lg);
}

.iconStacks {
  background-color: var(--secondary);
  border-radius: var(--xl-3);
  padding: var(--sm);
  width: 40px;
  height: 40px;
  justify-content: center;
  display: flex;
}

.stacksContainer {
  margin: 0 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.stacksDetails {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  column-gap: var(--md);
  row-gap: var(--md);
  align-items: center;
  width: fit-content;
  padding-bottom: var(--md);
}

.eachStack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eachStack p {
  font-size: var(--text-caption);
  text-align: center;
}

@media (max-width: 968px) {
  .stacksDetails {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    justify-items: center;
    column-gap: var(--xxs);
  }
}

p {
  width: var(--xl-9);
  padding: 0;
  margin: var(--md) 0 0 0;
}

/* projects */

.projects {
  width: 100%;
}
.cardContainer {
  width: fit-content;
  gap: var(--md);
  display: flex;
  padding: var(--null) var(--xl-4);
}

.imgProject {
  width: 100%;
  border-radius: 0px;
}

.cardContainer h4 {
  width: 100%;
  display: flex;
  margin: var(--null);
  padding-top: var(--md);
}

.containerBtn {
  display: flex;
  justify-content: center;
  padding: var(--md) var(--md) var(--md) var(--null);
  gap: var(--sm);
}

.btnCards {
  width: 100%;
  display: flex;
  justify-content: center;
}

.infoContainer {
  padding-left: var(--md);
}

.chipsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sm);
  padding-right: var(--xxs);
  padding-bottom: var(--md);
}

@media (max-width: 968px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    margin: var(--md);
    width: 90%;
  }
  .chipsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sm);
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.titleUsername {
  color: antiquewhite;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.btnProject {
  margin-top: auto; 
  display: flex;
  justify-content: flex-end; 
  padding-top: 20px; 
  padding-right: var(--md);
}