.primary {
  background-color: var(--primary);
  border-radius: var(--lg);
  padding: var(--xxs) var(--xs);
  font-size: var(--chip-font-size-card);
  color: var(--button-color);
  width: fit-content;
}



.secondary {
  background-color: var(--chip-card);
  border-radius: var(--lg);
  padding: var(--xxs) var(--xs);
  font-size: var(--chip-font-size-card);
  font-weight: 300;
  color: var(--chip-text);
  width: fit-content;
  text-transform: uppercase;
}

