.button {
  display: flex;
  align-items: center;
  border-radius: var(--xs);
  border: 0;
  cursor: pointer;
  font-size: var(--sm);
  font-weight: 600;
  min-width: fit-content;
  white-space: nowrap;
}

.primary {
  background-color: var(--primary);
  color: var(--button-color);

  padding: var(--xs);
}

.primary:hover {
  background-color: var(--secondary);
  color: var(--button-color);
  transition: background-color 0.5s ease;
}
.secondary {
  border: 1px solid var(--secondary);
  background-color: transparent;
  color: var(--secondary);
  padding: var(--xs);
}

.secondary:hover {
  border: 1px solid var(--secondary-hover);
  color: var(--secondary-hover);
  transition: background-color 0.5s ease;
}

.tertiary {
  background-color: transparent;
  color: var(--text);
  font-weight: 600;
}

.tertiary:hover {
  background-color: transparent;
  color: var(--primary);
  transition: background-color 0.5s ease;
}

.link {
  color: var(--primary);
  background-color: transparent;
  padding: 0;
}

.link:hover {
  color: var(--primary);
  transition: background-color 0.5s ease;
}

.tab {
  border: 1px solid var(--border);
  border-radius: var(--xs);
  padding: var(--xs) var(--sm);
  background-color: transparent;
  color: var(--text);
}

.tab.active {
  border-color: var(--secondary);

  border-radius: var(--xs);
  transition: ease 0.3s;
}

.active {
  color: var(--secondary);
}

.link a {
  color: var(--primary);
}

.primary a {
  color: var(--button-color);
}

a {
  display: flex;
  align-items: center;
  font-size: var(--sm);
  font-family: inherit;
  font-weight: 600;
}
