.button {
  display: flex;
  align-items: center;
  border-radius: var(--xs);
  padding: var(--xs);
  border: 0;
  cursor: pointer;
  font-size: var(--sm);
  font-family: inherit;
  font-weight: 600;
  height: var(--xl);
  min-width: fit-content;
  white-space: nowrap;
}

.primary {
  background-color: var(--primary);
  color: var(--button-color);
}

.primary:hover {
  background-color: var(--secondary);
  color: var(--background);
}
.secondary {
  border: 1px solid var(--secondary);
  background-color: transparent;
  color: var(--secondary);
}

.secondary:hover {
  background-color: var(--darker-background);
  border: 1px solid var(--secondary);
}

.tertiary {
  background-color: transparent;
  color: var(--text);
}

.tertiary:hover {
  background-color: transparent;
  color: var(--secondary);
}
.link {
  color: var(--secondary);
  background-color: transparent;
}

.link:hover {
  color: var(--primary);
}

.active {
  color: var(--secondary);
  border-radius: 0;
}

.link a {
  color: var(--secondary);
}

.primary a {
  color: var(--button-color);
}

a {
  display: flex;
  align-items: center;
  color: var(--secondary);
  font-size: var(--sm);
  font-family: inherit;
  font-weight: 600;
}

