.container {
  padding: var(--md);
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--xl-3);
  gap: var(--md);
  align-items: center;
}

.section h5 {
  letter-spacing: var(--xs);
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 968px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    padding-bottom: var(--md);
  }
}
