.container {
  padding: var(--md) var(--md) 0 var(--md);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  height: 90%;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  row-gap: 24px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  margin-bottom: var(--xl-2);
}

.filters {
  width: 90%;
}


@media (max-width: 968px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }

  .card {
    padding-bottom: var(--md);
  }

  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 
}
